.App {
  margin: 0%;
}
.content-container{
  text-align: center;
  margin-right: 100px;
  padding: 20px;
}
.content-heading{
  font-weight: bold;
  font-size: 20px;
}
.content-paragraph{
  font-size: 18px;
  color: gray;
}
.home-shop{
  display: none;
}
.main-layout{
  display: flex;
  gap: 50px;
  padding: 35px;
}

@media (max-width: 576px){
  .content-container{
  text-align: center;
  margin-left: 100px;
  padding: 20px;
}
.span{
  color: black;
}
}